{% extends 'base.html.twig' %}

{% block title %}Edit Recette{% endblock %}
{% block section %}{% endblock %}
{% block body %}

    <h1>Edit Recette</h1>
{{ form_start(form,{'attr': {'class': 'form-group recetteforme'}}) }}
    {{ form_row(form.titre) }}
    <div class="listeIngredient">   
        {# <h5>liste ingredients</h5> #}




            <label for="recette_titre">liste Ingredients</label>
            {% for unites in recette.quantite %}   
            <div class="list-group groupeIngredient">
                <input type="text" name="ingredient[]" value="{{ unites.ingredient.nom}}">
                <input type="text" name="quantite[]" value="{{ unites.nombre }}">
                <input type="text" name="unite[]" value="{{ unites.unite }}">
                <button class="suppIngredient">supprimer</button>
            </div>
    
        {% endfor %}

    {# {{ include('recette/_form.html.twig', {'button_label': 'Update'}) }} #}


                    {# <ul>
                    {% for unites in recette.quantite %}
                        <input>{{ unites.ingredient.nom | capitalize }}</strong> : {{ unites.nombre }} {{ unites.unite }}
                    {% endfor %}
                    </ul>    #}

                    {# <ul>
                    {% for unites in recette.quantite %}
                        <input type="text" name="ingredient[]" placeholder="{{ unites.ingredient.nom}}">
                    {% endfor %}
                    </ul>    #}



                    <label for="recette_titre">Ajouter d'autres ingredients</label>
                    <div class="listeIngredient">   
                        {# <h5>liste ingredients</h5> #}
                        <div class="list-group groupeIngredient">
                            <input type="text" name="ingredient[]" placeholder="ingrédient">
                            <input type="text" name="quantite[]" placeholder="quantité">
                            <input type="text" name="unite[]" placeholder="unité">
                            <button class="suppIngredient">supprimer</button>
                        </div>
                    </div>

                    <div>
                    <button class="ajouterIngredient btn btn-secondary">Ajouter 1 Ingredient</button>
                    </div>  

                    {% block javascriptsperso %}


                        <script>
                            var codeHtml = 
                                        `
                                        <div class="list-group groupeIngredient">
                                            <input type="text" name="ingredient[]" placeholder="ingrédient">
                                            <input type="text" name="quantite[]" placeholder="quantité">
                                            <input type="text" name="unite[]" placeholder="unité">
                                        <button class="suppIngredient">supprimer</button>
                                        </div>
                                        `;

                                    $(function()
                                    {

                                        //---------------------------------------------------------------------------------------------   
                                            // CETTE FONCTION SERA APPELEE PAR JQUERY QUAND LA PAGE SERA PRETE
                                            
                                            // JE VEUX QUE QUAND LE VISITEUR CLIQUE SUR LE BOUTON
                                            // ON CREE UN CHAMP INPUT EN PLUS
                                            $("button.ajouterIngredient").on("click", function(event)
                                                {
                                                    // BLOQUER LE COMPORTEMENT PAR DEFAUT
                                                    event.preventDefault();
                                                    
                                                    //console.log("TU AS CLIQUE");
                                                
                                                    // http://api.jquery.com/append/
                                                    // AJOUTER UN CODE HTML A LA FIN DU CONTAINER
                                                    $(".listeIngredient").append(codeHtml);     
                                                }); 
                                        //---------------------------------------------------------------------------------------------


                                        //---------------------------------------------------------------------------------------------
                                            // J'INSTALLE LE onCLick SUR UNE BALISE QUI EST PRESENTE ET QUI SERA TOUJOURS LA
                                            // ET ENSUITE JE VAIS FILTRER SUR LA CIBLE REELLE (target) DU CLICK
                                            $("div.listeIngredient").on("click", function (event)
                                            {

                                                    // BLOQUER LE COMPORTEMENT PAR DEFAUT
                                                    event.preventDefault();

                                                    // JE VERIFIE SI LA BALISE CLIQUEE CONTIENT LA CLASSE .supprimerIngredient
                                                    var testBouton = event.target.classList.contains("suppIngredient");

                                                    if (testBouton == true)
                                                    {
                                                        // ON PEUT SUPPRIMER LA LIGNE div
                                                        // div EST LE PARENT DE button
                                                        var baliseDiv = event.target.parentNode;
                                                        baliseDiv.remove();            
                                                    }
                                            });
                                        //---------------------------------------------------------------------------------------------

                                        //------------------------------------Autre Methode--------------------------------------------
                                            /*
                                            $("div.listeIngredient").on("click", ".suppIngredient", function (event)
                                            {

                                                    // BLOQUER LE COMPORTEMENT PAR DEFAUT
                                                    event.preventDefault();
                                                    //console.log("SUPPRIMER INGREDIENT");
                                                    $(this)         // button
                                                        .parent()   // div
                                                        .remove();  // JE REMONTE SUR LA BALISE div ET JE LA SUPPRIME
                                            });    
                                            */
                                        //---------------------------------------------------------------------------------------------

                                    });            
                        </script>

                    {% endblock %}

{# {{ form_widget(form) }} #}

    {# <button class="btn btn-success">{{ button_label|default('Save') }}</button> #}
     {# <button class="btn btn-success btrecetteforme"><a href="{{ path('recette_index') }}">back to list</a></button> #}
</div>

{{ form_row(form.categorie, {'attr':{'placeholder':'Indiquer le type de recette'}}) }}
{{ form_widget(form) }}
{#{{ form_row(form.preparation, {'attr':{'placeholder':'Indiquer le type de recette'}}) }}#}
{#{{ form_row(form.FichierImage, {'attr':{'placeholder':'Indiquer le titre de votre recette'}}) }}#}
<button class="btn btn-success">{{ button_label|default('Save') }}</button>
<button class="btn btn-success "><a href="{{ path('recette_index') }}">back to list</a></button>



{{ form_end(form) }}

{{ include('recette/_delete_form.html.twig') }}

    
{% endblock %}


